{% load static %}
{% load humanize %}
{% load order_tags %}

<div class="order-payment">
    <ul id="accordion" class="list-unstyled" data-wow-duration="1500ms">
        <li>
            <h2 name="para-title-order" class="para-title active">
                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Заказать без оплаты
                </span>
            </h2>
            <div id="collapseTwo" class="collapse show" role="button" aria-labelledby="collapseTwo" data-parent="#accordion">
                <p>Будет сформирован счет на оплату и отправлен на указанную электронную почту.</p>
            </div>
        </li>
        <li>
            <h2 name="para-title-payment" class="para-title ">
                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Заказать и оплатить
                    <img src="{% static '/images/resources/alfa-logo-21.png' %}" alt="" style="height: 30px; width: 50px; margin-top: 5px;">
                </span>
            </h2>
            <div id="collapseThree" class="collapse " aria-labelledby="collapseThree" data-parent="#accordion">
                <img src="{% static '/images/resources/alfa-qr-21.jpg' %}" alt="" style="height: 300px; margin-top: 5px;">
                <p></p>
            </div>
        </li>
        <li>
            <h2 name="para-title-payment" class="para-title ">
                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Заказать и оплатить
                    <img src="{% static '/images/resources/tochka-logo-21.png' %}" alt="" style="height: 40px; margin-top: 5px;">
                </span>
            </h2>
            <div id="collapseFour" class="collapse " aria-labelledby="collapseFour" data-parent="#accordion">
                <img src="{% static '/images/resources/tochka-qr-21.jpeg' %}" alt="" style="height: 300px; margin-top: 5px;">
                <p></p>
            </div>
        </li>
        <li>
            <h2 name="para-title-payment" class="para-title ">
                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Оплатить и заказать
                    <img src="{% static '/images/resources/robokassa.png' %}" alt="" style="height: 10px; margin-top: 5px;">
                </span>
            </h2>
            <div id="collapseOne" class="collapse " aria-labelledby="collapseOne" data-parent="#accordion">
                <p></p>
            </div>
        </li>
        <li>
            <h2 name="para-title-payment" class="para-title ">
                <span class="collapsed" role="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Заказать и оплатить
                </span>
            </h2>
            <div id="collapseFive" class="collapse " aria-labelledby="collapseFive" data-parent="#accordion">
                <p>
                    Ваш заказ можно оплатить по реквизитам Сбербанка: <br>
                    Расчётный счёт: 40802810230000473307 <br>
                    Бик Банка: 040349602 <br>
                    ИНН Получателя: 231103879125 <br>
                    Наименование организации: ИП Русаков А.И. <br>
                    КПП можно не указывать <br>
                    Назначение платежа: Оплата заказа (прописываете номер своего заказа) <br>
                    Сумма: вписываете сумму <br>
                    
                    Можно перевести на карту: <br>
                    
                    Точка Банк 5140170243170041 Антон Игоревич Р. <br>
                    
                    По номеру телефона 9183575222 через СПБ Альфа Банк, Сбербанк, Точка Банк, Яндекс банк
                </p>
            </div>
        </li>
    </ul>
</div>