{% load static %}

<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <div class="search-popup__content">
        <form name="main-search" action="{% url 'catalog:products' %}">
            {% csrf_token %}
            <label for="search" class="sr-only">Найти</label><!-- /.sr-only -->
            <input type="text" id="search" name="search_values" placeholder="Найти..." />
            <button type="submit" aria-label="search submit" class="thm-btn">
                <i class="organik-icon-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>
