{% load static %}
{% load humanize %}
{% load cart_tags %}

<div class="row cart-basement">
    <div class="col-lg-8">
        <!-- <form action="#" class="contact-one__form">
            <input type="text" placeholder="Enter Coupon Code">
            <button type="submit" class="thm-btn">Apply Coupon</button>
        </form> -->
    </div>
    <div class="col-lg-4">
        <ul class="cart-total list-unstyled">
            <li>
                <span>Всего</span>
                <span>{{ cart.get_total_price }} руб.</span>
            </li>
            <li>
                <span>Стоимость доставки</span>
                {% if delivery_price %}
                    <span>{{ delivery_price|floatformat:2|intcomma }} руб.</span>
                {% else %}
                    <span>0,00 руб.</span>
                {% endif %}
            </li>
            <li>
                <span>Итого</span>
                {% with sum=cart.get_total_price|add:delivery_price %}
                    <span>{{ sum|floatformat:2|intcomma }} руб.</span>
                {% endwith %}
            </li>
        </ul>
        <div class="button-box">
            <a href="#" class="thm-btn" style="visibility: hidden;">Обновить</a>
            <a href="{% url  'orders:pre-order' %}" class="thm-btn">Заказать</a>
        </div>
    </div>
</div>