{% load static %}
{% load cart_tags %}

<div class="mini-cart">
    <div class="mini-cart__overlay mini-cart__toggler"></div>
    <div class="mini-cart__content">
        <div class="mini-cart__top">
            <h3 class="mini-cart__title">Корзина</h3>
            <span class="mini-cart__close mini-cart__toggler"><i class="organik-icon-close"></i></span>
        </div>
        
        {% for cart_item in cart %}
            {% with product=cart_item.product %}
                <div class="mini-cart__item">
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                    <div class="mini-cart__item-content">
                        <div class="mini-cart__item-top">
                            <h3><a href="{% url 'catalog:product' product.id %}">{{ product.name }}</a></h3>
                            {% if cart_item.price %}
                                <p>р.{{ cart_item.price }}</p>
                            {% else %}
                                <p>р.0,00</p>
                            {% endif %}
                            <p></p>
                        </div>
                        <div class="quantity-box">
                            <form name="cart-form" action="#">
                                {% csrf_token %}
                                <input type="hidden" name="quantity" value=1>
                                <input type="hidden" name="unit" value="{{ product.unit }}">
                                {% if cart_item.price %}
                                    <input type="hidden" name="price" value="{{ current_price.price|floatformat:2|decimal_price }}">
                                {% else %}
                                    <input type="hidden" name="price" value="0.00">
                                {% endif %}
                                <input type="hidden" name="update" value="1">
                            </form>
                            <button type="button" class="sub" data-url="{% url 'cart:sub' product_id=product.id %}">-</button>
                            <input type="number" id="mini-cart-{{ product.id }}" value="{{ cart_item.quantity }}" />
                            <button type="button" class="add" data-url="{% url 'cart:add' product_id=product.id %}">+</button>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}

        <a href="{% url  'orders:pre-order' %}" class="thm-btn mini-cart__checkout">Заказать</a>
    </div>
</div>