{% extends "base.html" %}

{% load static %}
{% load humanize %}
{% block page %}

<div class="stricky-header stricked-menu main-menu">
	<div class="sticky-header__content"></div>
</div>

<!-- <section class="page-header">
	<div class="page-header__bg" style="background-image: url("{% static '/images/backgrounds/page-header-bg-1-1.jpg' %}");"></div>
	
	<div class="container">
		<h2>Заказы</h2>
		<ul class="thm-breadcrumb list-unstyled">
			<li><a href="/">Главная</a></li>
		</ul>
	</div>
</section> -->

<section class="checkout-page">
	<div class="container">
		{% if not request.user.is_authenticated %}
			<p>Уже регистрировались? <a href="#" class="login__toggler main-menu__login_item">Нажмите для входа</a></p>
		{% endif %}
		<h3 class="order-title">ВАШ ЗАКАЗ</h3>
		<div class="row">
			<div class="col-md-6">
				<table class="table cart-table">
					<thead>
						<tr>
							<th>Товар</th>
							<th>Стоимость</th>
							{% if not read_only %}
							<th>Удалить</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for cart_item in basket %}
							{% with product=cart_item.product %}
								<tr name="basket-row">
									<td style="padding-top: 0px; padding-bottom: 0px;">{{ product.name }}</td>
									{% if cart_item.sum %}
										<td style="padding-top: 0px; padding-bottom: 0px;">{{ cart_item.sum|floatformat:2|intcomma }} руб.</td>
									{% else %}
										<td style="padding-top: 0px; padding-bottom: 0px;">0,00 руб.</td>
									{% endif %}
									{% if not read_only %}
									<td style="padding-top: 0px; padding-bottom: 0px;">
										<a name="remove-from-basket" href="{% url 'orders:remove_from_basket' product_id=product.id %}">
											<i class="organik-icon-close remove-icon"></i>
										</a>
									</td>
									{% endif %}
								</tr>
							{% endwith %}
						{% endfor %}
						{% if delivery_price and basket %}
							<tr name="basket-row">
								<td style="padding-top: 0px; padding-bottom: 0px;">Доставка</td>
								<td style="padding-top: 0px; padding-bottom: 0px;">{{ delivery_price|floatformat:2|intcomma }} руб.</td>
								<td style="padding-top: 0px; padding-bottom: 0px;"></td>
							</tr>
						{% endif %}
					</tbody>
				</table>
				<!-- <div class="order-details">
					<div class="order-details__top">
						<p>Товар</p>
						<p>Стоимость</p>
						<p>Удалить</p>
					</div>
					<span class="col-md-12 text-danger text-error" name="cartIsEmpty" style="display: none;"></span>
					{% for cart_item in basket %}
						{% with product=cart_item.product %}
							<p>
								<span>{{ product.name }}</span>
								{% if cart_item.sum %}
									<span>{{ cart_item.sum|floatformat:2|intcomma }} руб.</span>
								{% else %}
									<span>0,00 руб.</span>
								{% endif %}
								<a name="remove-from-cart" href="{% url 'cart:remove' product_id=product.id %}">
                                    <i class="organik-icon-close remove-icon"></i>
                                </a>
							</p>
						{% endwith %}
					{% endfor %}
					{% if delivery_price and basket %}
						<p>
							<span>Доставка</span>
							<span>{{ delivery_price|floatformat:2|intcomma }} руб.</span>
							<a name="remove-from-cart" href="{% url 'cart:remove' product_id=product.id %}">
								<i class="organik-icon-close remove-icon"></i>
							</a>
						</p>
					{% endif %}
				</div> -->
			</div>
			<div class="col-md-6">
				{% if ready_for_payment %}
					{% include "components/orders/payment.html" %}
				{% else %}
					<div class="order-status">
						<h2 class="para-title active" style="height: 4rem;">
							<div class="order-status-container">
								<p>
									Статус заказа:
								</p>
								<span>{{ order.get_status_display }}</span>
							</div>
						</h2>
						<div>
							{% include "components/orders/order-amounts.html" with order=order items=basket delivery_price=delivery_price %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<h3>Детали заказа</h3>
				{% with delivery_address=delivery_addresses|first %}
				<form id="primary-form" action="{% url 'orders:add' %}" class="contact-form-validated contact-one__form">
					<div class="row">
						{% csrf_token %}
						<div class="col-md-12" style="display: none;">
							<select class="selectpicker">
								<option value="">РФ</option>
							</select>
						</div>
						<span class="col-md-12 text-danger text-error" name="username" style="display: none;"></span>
						<div class="col-md-6">
							{% if read_only %}
								<input type="text" name="fname" placeholder="Имя" value="{{ delivery_address.fname|default:'' }}" disabled>
							{% else %}
								<input type="text" name="fname" placeholder="Имя" value="{{ delivery_address.fname|default:'' }}">
							{% endif %}
						</div>
						<div class="col-md-6">
							{% if read_only %}
								<input type="text" name="lname" placeholder="Фамилия" value="{{ delivery_address.lname|default:'' }}" disabled>
							{% else %}
								<input type="text" name="lname" placeholder="Фамилия" value="{{ delivery_address.lname|default:'' }}">
							{% endif %}
						</div>
						<div class="col-md-12">
							{% if read_only %}
								<input type="date" name="date_of_birth" placeholder="Дата пождения (ДД.ММ.ГГГГ)" value="{{ delivery_address.date_of_birth|default_if_none:'0001-01-01'|date:'Y-m-d' }}" disabled>
							{% else %}
								<input type="date" name="date_of_birth" placeholder="Дата пождения (ДД.ММ.ГГГГ)" value="{{ delivery_address.date_of_birth|default_if_none:'0001-01-01'|date:'Y-m-d' }}" >
							{% endif %}
						</div>
						<div class="col-md-12">
							{% if read_only %}
								<input type="email" name="email" placeholder="email" value="{{ delivery_address.email|default:'' }}" disabled>
							{% else %}
								<input type="email" name="email" placeholder="email" value="{{ delivery_address.email|default:'' }}">
							{% endif %}
						</div>
						<div class="col-md-12">
							{% if read_only %}
								<textarea name="notes" placeholder="Дополнительная информация о заказе" disabled></textarea>
							{% else %}
								<textarea name="notes" placeholder="Дополнительная информация о заказе"></textarea>
							{% endif %}
						</div>
						{% if not request.user.is_authenticated %}
						<span class="col-md-12 text-danger text-error" name="createAccount" style="display: none;"></span>
						<div class="col-md-12">
							<div class="form-group">
								<input type="checkbox" id="createAccount" name="createAccount">
								<label for="createAccount">Зарегистрировать нового пользователя</label>
							</div>
						</div>
						{% endif %}
					</div>
				</form>
				{% endwith %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="text-right">
					<form id="payment-form" method="post" action="#" visibility="hidden">
						{% with cart_item=basket|first %}
							{% with sum=cart_item.sum__sum|add:delivery_price %}
								<input type="hidden" name="OutSum" value="{{ sum|floatformat:2 }}" />
							{% endwith %}
						{% endwith %}
						<input type="hidden" name="Culture" value="ru" />
						<input type="hidden" name="Encoding" value="utf-8" />
					</form>
					{% if ready_for_payment and not read_only %}
						<a href="javascript:void(0);" class="thm-btn" id="submit-order" data-url="{% url 'catalog:products' %}" visibility="visibility">Заказать</a>
					{% else %}
						<a href="{% url 'orders:list' %}" class="thm-btn" visibility="visibility">Закрыть</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
