{% extends "base.html" %}

{% load static %}
{% block page %}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div>

{% include "components/main-slider.html" %}

{% include "components/feature-box.html" %}

{% include "components/new-products.html" %}

{% include "components/offer-banner.html" %}

{% include "components/funfact-one.html" %}

{% include "components/call-to-action.html" %}

{% include "components/client-carousel.html" %}

{% include "components/call-to-action-two.html" %}

{% include "components/testimonials-one.html" %}

{% include "components/gallery-one.html" %}

{% endblock %}