{% extends "base.html" %}

{% load static %}
{% load catalog_tags %}
{% block page %}

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div>
</div>
<section class="page-header" style="display: none;">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1-1.jpg);"></div>

    <div class="container">
        <h2>Продукт</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Главная</a></li>
        </ul>
    </div>

</section>

<section class="product_detail">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="product_detail_image">
                    <img src="{{ product.get_image }}" alt="{{ product.name }}">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                {% with current_price=prices|get_current_price:product %}
                <div class="product_detail_content">
                    <h2>{{ product.name }}</h2>
                    <div class="product_detail_review_box">
                        <div class="product_detail_price_box">
                            {% if current_price %}
                                <p>р.{{ current_price.price }}</p>
                            {% else %}
                                <p>р.0,00</p>
                            {% endif %}
                        </div>
                        <!-- <div class="product_detail_review">
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#"><i class="fa fa-star"></i></a>
                            <a href="#" class="deactive"><i class="fa fa-star"></i></a>
                            <span>2 Customer Reviews</span>
                        </div> -->
                    </div>
                    <!-- <div class="product_detail_text">
                        <p>{{ product.description }}</p>
                    </div> -->
                    <ul class="list-unstyled product_detail_address">
                        <li>Артикул:  {{ product.articul }}</li>
                        <li>Доступно на складе: {{ product.stock }}  {{ product.get_unit_display }}.</li>
                    </ul>
                    <div class="product-quantity-box" name="product-quantity-box-{{ product.id }}">
                        <div class="quantity-box">
                            {% with cart_item=cart|get_cart_item:product %}
                            <form name="cart-form" action="#">
                                {% csrf_token %}
                                <button type="button" class="sub">-</button>
                                {% if cart_item.quantity > 0 %}
                                    <input type="number" name="quantity" value="{{ cart_item.quantity }}" min="1" max="{{ product.stock }}" />
                                {% else %}
                                    <input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}" />
                                {% endif %}
                                <button type="button" class="add">+</button>
                                <input type="hidden" name="unit" value="{{ product.unit }}">
                                {% if cart_item.price %}
                                    <input type="hidden" name="price" value="{{ cart_item.price|floatformat:2|decimal_price }}">
                                {% else %}
                                    <input type="hidden" name="price" value="{{ current_price.price|floatformat:2|decimal_price }}">
                                {% endif %}
                                {% if cart_item.quantity > 0 %}
                                    <input type="hidden" name="update" value="1">
                                {% else %}
                                    <input type="hidden" name="update" value="0">
                                {% endif %}
                            </form>
                            <div name="cart_quantity" style="visibility: hidden;">{{ cart_item.quantity }}</div>
                            {% endwith %}
                        </div>
                        <div class="addto-cart-box">
                            <button class="thm-btn" type="button" data-url="{% url 'cart:update' product.id %}">Добавить в корзину</button>
                        </div>
                        <!-- <div class="wishlist_btn">
                            <a href="#" class="thm-btn">Add to Wishlist</a>
                        </div> -->
                    </div>
                    <ul class="list-unstyled category_tag_list">
                        <!-- <li><span>Категория:</span> {{ product.category.name }}</li> -->
                    </ul>
                    <!-- <div class="product_detail_share_box">
                        <div class="share_box_title">
                            <h2>Share with friends</h2>
                        </div>
                        <div class="share_box_social">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div> -->
                </div>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="product-tab-box tabs-box">
                    <ul class="tab-btns tab-buttons clearfix list-unstyled">
                        <li data-tab="#desc" class="tab-btn active-btn"><span>Описание</span></li>
                        <li data-tab="#addi__info" class="tab-btn"><span>Дополнительная информация</span></li>
                        <li data-tab="#review" class="tab-btn" style="visibility: hidden;"><span>Отзывы</span></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tab active-tab" id="desc">
                            <div class="product-details-content">
                                <div class="desc-content-box">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab" id="addi__info">
                            <ul class="additionali_nfo list-unstyled">
                                <li><span>Вес:</span> {{ product.weight }} кг.</li>
                                <li><span>Категория:</span>{{ product.category.name }}</li>
                                <!-- <li><span>Tags:</span>Vegetables, Fruits</li> -->
                            </ul>
                        </div>

                        {% include "components/products/reviews.html" with product=product%}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-two">
    <div class="container">
        <div class="block-title text-center">
            <div class="block-title__decor"></div>
            <h3>Похожие товары</h3>
        </div>
        <div class="thm-tiny__slider" id="product-two__carousel" data-tiny-options='{
    "container": "#product-two__carousel",
    "items": 1,
    "slideBy": "page",
    "gutter": 0,
    "mouseDrag": true,
    "autoplay": true,
    "nav": false,
    "controlsPosition": "bottom",
    "controlsText": ["<i class=\"fa fa-angle-left\"></i>", "<i class=\"fa fa-angle-right\"></i>"],
    "autoplayButtonOutput": false,
    "responsive": {
        "640": {
          "items": 2,
          "gutter": 30
        },
        "992": {
          "gutter": 30,
          "items": 3
        },
        "1200": {
          "disable": true
        }
      }
}'>
            {% for similar_product in similar_products|slice:":3" %}
                <div>
                    <div class="product-card__two similar-product-card">
                        <div class="product-card__two-image">
                            <!-- <span class="product-card__two-sale">sale</span> -->
                            <img class="img-fluid img-thumbnail thumbnail-50" src="{{ similar_product.get_image }}" alt="{{ similar_product.name }}">
                            <div class="product-card__two-image-content">
                                <a href="{% url 'catalog:product' similar_product.id %}"><i class="organik-icon-visibility"></i></a>
                                <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="product-card__two-content">
                            <h3><a href="{% url 'catalog:product' similar_product.id %}">{{ similar_product.name }}</a></h3>

                            {% with current_price=similar_products_prices|get_current_price:similar_product %}
                                {% if current_price %}
                                    <p>р.{{ current_price.price }}</p>
                                {% else %}
                                    <p>р.0,00</p>
                                {% endif %}
                            {% endwith %}

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div><!-- /.container -->
</section><!-- /.product-two -->

{% endblock %}
