{% extends "base.html" %}

{% load static %}
{% load news_tags %}
{% block page %}

<style>
  h1, h2 {
    color: #111;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  p {
    margin: 0.5rem 0;
  }

  ol {
    padding-left: 1.5rem;
  }

  .highlight {
    background-color: #ffffcc;
    font-weight: bold;
    color: #006600;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
</style>

<section class="offer-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInLeft offer-banner__box animated" data-wow-duration="1500ms" data-wow-delay="100ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInLeft;">

                <h1>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</h1>

                <h2>1. Общие положения:</h2>
                <ol>
                  <li>
                    Настоящий текст является Соглашением между ИП Русаков А.И. (далее по тексту - Исполнитель) и физическим лицом, пользующимся услугами интернет – магазина SVOBODA23 , (далее по тексту -  Заказчик), и определяет условия формирования и передачи заказа, содержащего продукты питания и предметы первой необходимости лицам, содержащимся под стражей в следственных изоляторах уголовно-исполнительной системы и/или отбывающим уголовные наказания в виде лишения свободы – Подозреваемым, Обвиняемым и Осужденным (далее по тексту - ПОО) в Краснодарском крае и Республике Адыгея.
                  </li>
                  <li>
                    Настоящее Соглашение заключается между Заказчиком и Исполнителем перед оформлением заказа на формирование и передачи заказа ПОО, содержащей продукты питания и предметы первой необходимости, не запрещенные уголовно-исполнительным законодательством (далее - передача). Передача заказа осуществляется Исполнителем непосредственно на территории следственного изолятора или исправительного учреждения ФСИН России. Соглашение может быть заключено только в случае согласия Заказчика со всеми условиями, оговоренными настоящим Соглашением.
                  </li>
                </ol>
              
                <h2>2. Предмет и Порядок заключения соглашения:</h2>
                <ol start="1">
                  <li>Предметом Соглашения является оказание Заказчику услуг по оформлению заказа (далее - Заказ) на формирование и передачи заказа ПОО.</li>
                  <li>Настоящее Соглашение считается заключенным после прохождения Заказчиком процедуры принятия условий данного Соглашения на сайте. посредством установки галочки в разделе «Я ознакомлен и согласен с условиями Соглашения».</li>
                  <li>Заказчик заполняет Заказ на передачу товаров в соответствии с инструкциями, размещенными на сайте Исполнителя, с указанием информации о лице, которому необходимо вручить передачу (Фамилия, Имя, Отчество (при наличии), день, месяц и год рождения).</li>
                </ol>
              
                <h2>3. Условия и порядок предоставления услуг:</h2>
                <ol start="1">
                  <li>Исполнитель обеспечивает обработку принимаемых Заказов от Заказчиков на сайте и формирует счет Заказа с присвоением ему уникального номера. В процессе оформления, до момента присвоения уникального номера заказа, Заказчик вправе прекратить сессию по оформлению Заказа в любой момент времени.</li>
                  <li>Заказчик производит предварительную оплату Заказа посредством Платежного агрегатора Robokassa на сайте интернет – магазина. Настоящим Заказчик соглашается, что принятие Заказа к исполнению происходит только после подтверждения списания денежных средств в счёт оплаты Заказа. Кассовые чеки формируются в электронном виде и направляются на адрес электронной почты, указанный Заказчиком при оформлении Заказа в личном кабинете на сайте интернет – магазина.</li>
                  <li>Передача заказа ПОО, кроме товаров, заказанных на определенную дату, осуществляется на следующий день со дня поступления Заказа к Исполнителю при выполнении следующих условий, указанных в п. 4.2. При возникновении обстоятельств, не зависящих от Исполнителя (включая, но не ограничиваясь, несоответствие данных ПОО либо условий его содержания требованиями и ограничениями, установленными Правилами внутреннего распорядка следственных изоляторов, исправительных учреждений ФСИН России и иными законодательными актами), срок передачи заказа может быть увеличен.</li>
                  <li>Возврат и обмен оплаченных товаров осуществляется в соответствии с требованиями действующего законодательства Российской Федерации. Требования Заказчика или Получателя об обмене и/или возврате Товара подлежит удовлетворению, если Товар не был в употреблении, сохранены его потребительские свойства или же Товар не соответствует заявленным характеристикам.</li>
                  <li>О ходе оказания услуги Заказчик получает информацию из личного кабинета размещенного на сайте Исполнителя.</li>
                  <li>В случае невозможности передачи Заказа по независящим от Исполнителя причинам (в заказе ошибочно указаны личные данные ПОО, неверно выбрано исправительное учреждение УИС; ПОО освобожден или переведён в другое учреждение; превышен установленный лимит массы передач, превышен установленный лимит количества и веса передач, у получателя установлено частичное ограничение на выдачу), оплаченный Заказ расформировывается и осуществляется возврат денежных средств посредством перечисления денежных средств на банковскую карту Заказчика, с которой был произведен платеж за минусом стоимости оказанных услуг по передаче заказа и работы менеджеров, в течении трех дней с момента отправления уведомления Заказчику о наступившем событии. По истечении трех дней денежные средства возврату не подлежат. Продукты подлежат утилизации.</li>
                  <li>Возврат денежных средств Заказчику за частично переданный заказ по независящим от Исполнителя причинам (в случае отсутствия товара на момент сборки заказа, превышен лимит веса и отсутствует возможность предоставить данные другого Получателя, в случае возрастного ограничения получения определенных товаров для данного Получателя и т.д.) осуществляется на банковскую карту Заказчика, с которой был произведен платеж за минусом стоимости работы менеджеров, в течении трех дней с момента отправления уведомления Заказчику о наступившем событии. По истечении трех дней денежные средства возврату не подлежат. Продукты подлежат утилизации.</li>
                  <li>Заказ не переданный или частично переданный Получателю по независящим от Исполнителя причинам (превышен лимит веса, Получатель является «транзитом», находится в карцере и т.д.) можно передать повторно Получателю или заменить одного Получателя на другого. Остаток Заказа не превышающий 4 кг при повторной передаче доплаты не требует, при весе Заказа / остатка Заказа свыше 4 кг необходима доплата в размере стоимости оказания услуги по передаче Заказа.</li>
                  <li>Заказчик вправе отказаться от Заказа до 10-00 по МСК, возврат денежных средств осуществляется в соответствии с п. 3.6.</li>
                </ol>
              
                <h2>4. Условия оплаты:</h2>
                <ol start="1">
                  <li>Заказчик производит оплату Заказа в безналичном порядке посредством Платежного агрегатора Robokassa на сайте интернет – магазина. Заказ берется в работу только после получения полной предоплаты. При отмене / отказе от заказа возврат денежных средств осуществляет в течение 3 рабочих дней на банковскую карту или счёт, с которого была произведена оплата Заказа. Возврат денежных средств подтверждается кассовым чеком, высылаемым на адрес электронной почты, указанном при оформлении заказа в личном кабинете.</li>
                  <li>Оформленный на сайте Заказ должен быть оплачен не позднее 1(Одного)  часа с момента оформления Заказа, после указанного времени Заказ расформировывается и  только после оплаты он передается на исполнение. Доставка и передача Заказа будет осуществлена на следующий день при выполнении следующих условий:
                    <ol>
                        <li>Заказ оплачен до 20-00 в будние дни и до 15-00 в выходные дни по МСК;</li>
                        <li>Заказ оплачен с 00-01 до 7-00 в будние дни и после 15-01 в выходные дни по МСК требует доплату к основной сумме Заказа + 100 руб.;</li>
                        <li>Заказ сформирован и оплачен с 00-01 до 7-00 с намерением передать Заказ ПОО текущим днем - доплата + 200 руб. к основной сумме Заказа.</li>
                        <li>Заказ сформирован и оплачен с 7-01 до 11-00 с намерением передать Заказ ПОО текущим днем - доплата + 300 руб. к основной сумме Заказа.</li>
                    </ol>
                  </li>
                  <li>Заказ не оплаченный согласно п. 4.2. будет автоматически отменен.</li>
                </ol>
              
                <h2>5. Ответственность сторон:</h2>
                <ol start="1">
                  <li>За невыполнение или ненадлежащее выполнение обязательств по настоящему Соглашению Стороны несут ответственность в соответствии с действующим законодательством РФ.</li>
                  <li>Исполнитель освобождается от ответственности за нарушение условий Соглашения, если такое нарушение вызвано: действием обстоятельств непреодолимой силы (форс-мажор), включая: пожар, наводнение, землетрясение, другие стихийные действия, отсутствие электроэнергии и/или сбои работы компьютерной сети, забастовки, гражданские волнения, беспорядки; изменениями законодательства, регулирующего положение лиц, находящихся под стражей в учреждениях ФСИН.</li>
                  <li>Все споры и разногласия решаются путем переговоров. В случае если разногласия не могут быть урегулированы путем переговоров, они передаются на рассмотрение в суд по месту нахождения Исполнителя.</li>
                </ol>
              
                <h2>6. Прочие условия:</h2>
                <ol start="1">
                  <li>Исполнитель оставляет за собой право приостанавливать или прекращать включение в состав передачи отдельных видов товаров.</li>
                  <li>Настоящее Соглашение должно рассматриваться в том виде, как оно опубликовано и применяется к взаимоотношениям между сторонами в соответствии с законодательством Российской Федерации.</li>
                  <li>Настоящее Соглашение может быть изменено и опубликовано на сайте без уведомления пользователей.</li>
                </ol>
              
                <h2>7. Реквизиты Исполнителя:</h2>
                <p>Индивидуальный Предприниматель Русаков Антон Игоревич<br>
                ИНН: 231103879125<br>
                ОГРНИП: 317237500335569<br>
                Расчётный счёт: 40802810230000473307<br>
                Банк: КРАСНОДАРСКОЕ ОТДЕЛЕНИЕ N8619 ПАО СБЕРБАНК<br>
                БИК банка: 040349602<br>
                Корсчёт: 30101810100000000602<br>
                ИНН банка: 7707083893<br>
                КПП банка: 231043001<br>
                </p>
                <p>
                Адрес фактический (почтовый):<br>
                350001 Россия, Краснодарский край, г. Краснодар, ул. Воронежская, д. 50 кв. 2.<br>
                Телефон: +7(918)-357-52-22
                </p>

            </div>
        </div>
    </div>
</section>

{% endblock %}
