{% load static %}

<section class="call-to-action" style="display: none;">
    <img src="{% static '/images/shapes/call-shape-1.png' %}" alt="" class="call-to-action__shape-1">
    <img src="{% static '/images/shapes/call-shape-2.png' %}" alt="" class="call-to-action__shape-2 wow fadeInLeft" data-wow-duration="1500ms">
    <h2 class="floated-text">Oragnic</h2><!-- /.floated-text -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-6 clearfix">
                <img src="{% static '/images/resources/call-1-1.jpg' %}" class="call-to-action__image" alt="">
            </div><!-- /.col-md-12 col-lg-12 col-xl-12 -->
            <div class="col-md-12 col-lg-12 col-xl-6 clearfix">
                <div class="call-to-action__content">
                    <div class="block-title text-left">
                        <div class="block-title__decor" style="background-image: url("{% static '/images/shapes/leaf-2-1.png' %}");"></div>
                        <!-- /.block-title__decor -->
                        <p>Shopping Store</p>
                        <h3>Organic Food Only</h3>
                    </div><!-- /.block-title -->
                    <p>There are many variations of passages of lorem ipsum available but the majority have suffered
                        alteration in some form by injected humor or random word.</p>
                    <div class="call-to-action__wrap">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="call-to-action__box">
                                    <i class="organik-icon-farmer"></i>
                                    <h3>Professional
                                        Farmers</h3>
                                </div><!-- /.call-to-action__box -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="call-to-action__box">
                                    <i class="organik-icon-farm"></i>
                                    <h3>Solution
                                        for Farming</h3>
                                </div><!-- /.call-to-action__box -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.call-to-action__wrap -->
                    <a href="products.html" class="thm-btn">Order Now</a><!-- /.thm-btn -->
                </div><!-- /.call-to-action__content -->
            </div><!-- /.col-md-12 col-lg-12 col-xl-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.call-to-action -->