{% load static %}

<section class="funfact-one jarallax" data-jarallax data-speed="0.3" data-imgPosition="50% 50%" style="display: none;">
    <img src="{% static '/images/backgrounds/funfact-bg-1-1.jpg' %}" class="jarallax-img" alt="">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-3  wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                <div class="funfact-one__single">
                    <h3 class="odometer" data-count="8080">00</h3>
                    <p>Organic Products Available</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-md-6 col-lg-3 -->
            <div class="col-md-6 col-lg-3  wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="funfact-one__single">
                    <h3 class="odometer" data-count="697">00</h3>
                    <p>Healthy Recipes</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-md-6 col-lg-3 -->
            <div class="col-md-6 col-lg-3  wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="funfact-one__single">
                    <h3 class="odometer" data-count="440">00</h3>
                    <p>Expert Team Mebers</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-md-6 col-lg-3 -->
            <div class="col-md-6 col-lg-3  wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="300ms">
                <div class="funfact-one__single">
                    <h3 class="odometer" data-count="2870">00</h3>
                    <p>Satisfied Customers</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-md-6 col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.funfact-one -->