{% load static %}

<section class="new-products" style="display: none;">
    <img src="{% static '/images/shapes/new-product-shape-1.png' %}" alt="" class="new-products__shape-1">
    <div class="container">
        <div class="new-products__top">
            <div class="block-title ">
                <div class="block-title__decor"></div><!-- /.block-title__decor -->
                <p>Recently Added</p>
                <h3>New Products</h3>
            </div><!-- /.block-title -->

            <ul class="post-filter filters list-unstyled">
                <li class="active filter" data-filter=".filter-item">All</li>
                <li class="filter" data-filter=".dairy">Dairy</li>
                <li class="filter" data-filter=".pantry">Pantry
                </li>
                <li class="filter" data-filter=".meat">Meat
                </li>
                <li class="filter" data-filter=".fruits">Fruits
                </li>
                <li class="filter" data-filter=".veg">Vagetables
                </li>
            </ul>
        </div><!-- /.new-products__top -->
        <div class="row filter-layout">
            <div class="col-lg-4 col-md-6 filter-item dairy">
                <div class="product-card__two">
                    <div class="product-card__two-image">
                        <span class="product-card__two-sale">sale</span>
                        <img src="{% static '/images/products/product-2-1.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Banana</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$1.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 filter-item pantry">
                <div class="product-card__two">
                    <div class="product-card__two-image">

                        <img src="{% static '/images/products/product-2-2.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Olive Oil</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$9.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 filter-item meat">
                <div class="product-card__two">
                    <div class="product-card__two-image">

                        <img src="{% static '/images/products/product-2-3.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Eggs</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$3.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 filter-item dairy">
                <div class="product-card__two">
                    <div class="product-card__two-image">

                        <img src="{% static '/images/products/product-2-4.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Tamatos</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$1.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 filter-item fruits">
                <div class="product-card__two">
                    <div class="product-card__two-image">

                        <img src="{% static '/images/products/product-2-5.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Bread</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$2.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 filter-item veg">
                <div class="product-card__two">
                    <div class="product-card__two-image">
                        <span class="product-card__two-sale">sale</span>
                        <img src="{% static '/images/products/product-2-6.jpg' %}" alt="">
                        <div class="product-card__two-image-content">
                            <a href="#"><i class="organik-icon-visibility"></i></a>
                            <a href="#"><i class="organik-icon-heart"></i></a>
                            <a href="cart.html"><i class="organik-icon-shopping-cart"></i></a>
                        </div><!-- /.product-card__two-image-content -->
                    </div><!-- /.product-card__two-image -->
                    <div class="product-card__two-content">
                        <h3><a href="product-details.html">Apples</a></h3>
                        <div class="product-card__two-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div><!-- /.product-card__two-stars -->
                        <p>$2.00</p>
                    </div><!-- /.product-card__two-content -->
                </div><!-- /.product-card__two -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.new-products -->