{% load static %}

<section class="offer-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 wow fadeInLeft offer-banner__box" data-wow-duration="1500ms" data-wow-delay="100ms">
                <h3>
                    <span>Уважаемые Дамы и Господа!</span>
                </h3>
                <p>Интернет - магазин осуществляет доставку продуктов питания и предметов первой  необходимости для осуществления жизнедеятельности, а также медикаментов  в Исправительные Учреждения Краснодарского края и республики Адыгея.</p>
                <p>Время работы менеджеров с 9-00 до 20-00 без выходных.</p>
                <p>На все Ваши вопросы отвечаем по телефонам:  8-918-658-67-19,  8-918-357-52-22.</p>
                <p style="color: red;">ПРОСЬБА!!! Не звоните и не пишите в не рабочее время – мы тоже люди!!!</p>
                <p>Пополнение  Лицевого счета подозреваемого, обвиняемого или осужденного осуществляется только в рабочие дни.</p>
                <p> <span style="color: blueviolet;"> Перед оформлением Заказа обязательно ознакомьтесь с Правилами работы интернет – магазина! Это поможет Вам правильно выбрать товары,  оформить и оплатить Ваш Заказ. </span></p>
                <p>Доставка передач в СИЗО – 1 (г. Краснодар ул. Воронежская, 42) осуществляется ежедневно – исключения составляют Государственные праздники.</p>
                <p> <span style="color: red;"> 15-е </span> число каждого месяца – <span style="color: red;"> САНИТАРНЫЙ ДЕНЬ </span> – комната свиданий и приема передач не работает.</p>
                <p>Передача медикаментов осуществляется каждый Вторник с 13-00. Сертификаты качества на передаваемые медикаменты не требуются. Своевременно делайте свои заказы согласно опубликованному списку разрешенных и запрещенных препаратов.</p>
                <p>Лимит веса в календарный месяц подозреваемым или обвиняемым составляет 30 кг и от количества передач не зависит. После вступления приговора в силу вес и количество передач, в зависимости от тяжести статьи, уменьшаются: общий режим – 1 передача в месяц 20 кг; строгий режим – 1 передача в 3 месяца 20 кг.</p>
                <p>Передачу НЕЛЬЗЯ передать тому, кто находится в КАРЦЕРЕ или является ТРАНЗИТОМ – тот, кого этапируют из одного местонахождения в другое.</p>
                <p>Доставка передач в СИЗО – 5 (г. Краснодар, Красноармейская, 22), ИВС (г. Краснодар, Леваневского, 18), Административно осужденные (г. Краснодар, ул. Садовая, 110) осуществляется с Понедельника по Четверг включительно. </p>
                <p>Медикаменты в СИЗО – 5 можно передать только по разрешению врача учреждения. Сертификаты качества и Декларации о соответствии на передаваемые медикаменты ОБЯЗАТЕЛЬНЫ.</p>
                <p>Лимит веса в календарный месяц подозреваемым или обвиняемым составляет 30 кг и от количества передач не зависит.</p>
                <p>Доставка в ИК – 14, ИК – 11, ИК – 3, ИК – 1 осуществляется только в будние дни.</p>
                <p><span style="color: red;"> Последний Понедельник </span> каждого месяца - <span style="color: red;"> САНИТАРНЫЙ ДЕНЬ </span>.</p>
                <p>Доставка передач в ГБУЗ СК Психиатрическая Больница № 1 (г. Краснодар, ул. Красная, стр.1), ГБУЗ СК Психиатрическая Больница № 7 (г. Краснодар, ул. 16 Полевой участок, 11), Отделение стражной СПЭ (г. Краснодар, 16 Полевой участок, 9)  осуществляется по согласованию с Заказчиком.</p>
            </div>
        </div>
    </div>
</section><!-- /.offer-banner -->